@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap ');
/* FONT MONTSERRAT */

*{
    margin: 0;
}

:root{
    --Branco: #ffffff;
    --Amarelo_ouro: #FDC807;
    --Preto_100porcento: #181717;
    --Preto_90porcento: #202226;

}

a{
    color: #FDC807;
    text-decoration: none;
}

body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;

}

h1{
    font-weight: bold;
}

#imagemFundo{
    background-image: url(imagem/header.png);
    background-size: cover;
    width: 100%;
    height: 720px;
}

#textosIMG{
    color: white;
    font-size: 20px;
    margin-left: 120px;
    padding-top: 90px;
}

#pequenaTag{
    margin-left: 120px;
    color: white;
    font-size: 17px;
    margin-top: 35px;
}

#fakePlaceholder{
    width: 460px;
    height: 40px;
    margin-left: 120px;
    background-color: white;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoAnimado{
    width: 460px;
    height: 50px;
    background-color: yellow;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    transition: 0.3s;
}

#botaoAnimado:hover{
    color: rgb(255, 251, 0);
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}

.medidas_par{
    width: 100%;
    height: 300px;
    background-color: var(--Preto_90porcento);
    /* border: 1px solid black; */
    border-top: 1px solid gray;
}

.medidas_impar{
    width: 100%;
    height: 300px;
    background-color: var(--Preto_100porcento);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    /* border: 1px solid rgb(245, 245, 245); */
}


#informacao_01{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_01_texto{
    color: white;
    font-size: 15px;
}

#informacao_01 img{
    width: 150px;
    height: 150px;
}


/*  */
#informacao_02{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_02_texto{
    color: white;
    font-size: 15px;
}

#informacao_02 img{
    width: 150px;
    height: 150px;
}



#informacao_03{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_03_texto{
    color: white;
    font-size: 15px;
}

#informacao_03 img{
    width: 150px;
    height: 150px;
}



#informacao_04{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_04_texto{
    color: white;
    font-size: 15px;
}

#informacao_04 img{
    width: 150px;
    height: 150px;
}



#mirianMendonca{
    width: 100%;
    height: 600px;
    background-color: var(--Preto_90porcento);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#imagemMirian{
    background-image: url(imagem/autora.png);
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 175px 175px;
    /* border: 1px solid red; */
}

#textosMirian{
    color: white;
    font-size: 20px;
}

#fimPagina{
    width: 100%;
    height: 600px;
    background-color: var(--Preto_100porcento);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

#texto_fimPagina{
    color: white;
    /* border: 1px solid red; */
}

#botao_fimPagina{
    width: 290px;
    height: 70px;
    background-color: var(--Amarelo_ouro);
    margin-top: 120px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

#botao_fimPagina:hover{
    background-color: var(--Preto_90porcento);
    color: var(--Amarelo_ouro);
    transition: 0.2s;
}

#imagem_fimPagina{
    width: 600px;
    height: 600px;
    background-image: url(imagem/smartphone.png);
    background-size: cover;
    /* border: 1px solid red; */
    
}


footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--Preto_100porcento);
    color: white
    ;
}


/* CONFIGURAÇÃO PARA CELULAR */


@media screen and (max-width: 480px) {

    
}
