@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap ');
/* FONT MONTSERRAT */

*{
    margin: 0;
}

:root{
    --Branco: #ffffff;
    --Amarelo_ouro: #FDC807;
    --Preto_100porcento: #181717;
    --Preto_90porcento: #202226;

}

span{
    color: #FDC807;
    
}

body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;

}

h1{
    font-weight: bold;
}

#imagemFundo{
    background-image: url(imagem/header.png);
    background-size: cover;
    width: 100%;
    height: 720px;
}

#textosIMG{
    color: white;
    font-size: 20px;
    margin-left: 120px;
    padding-top: 90px;
}

#pequenaTag{
    margin-left: 120px;
    color: white;
    font-size: 17px;
    margin-top: 35px;
}

#fakePlaceholder{
    width: 460px;
    height: 40px;
    margin-left: 120px;
    background-color: white;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoAnimado{
    width: 460px;
    height: 50px;
    background-color: yellow;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    transition: 0.3s;
}

#botaoAnimado:hover{
    color: rgb(255, 251, 0);
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}

.medidas_par{
    width: 100%;
    height: 300px;
    background-color: var(--Preto_90porcento);
    /* border: 1px solid black; */
    border-top: 1px solid gray;
}

.medidas_impar{
    width: 100%;
    height: 300px;
    background-color: var(--Preto_100porcento);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    /* border: 1px solid rgb(245, 245, 245); */
}


#informacao_01{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_01_texto{
    color: white;
    font-size: 15px;
}

#informacao_01 img{
    width: 150px;
    height: 150px;
}


/*  */
#informacao_02{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_02_texto{
    color: white;
    font-size: 15px;
}

#informacao_02 img{
    width: 150px;
    height: 150px;
}



#informacao_03{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_03_texto{
    color: white;
    font-size: 15px;
}

#informacao_03 img{
    width: 150px;
    height: 150px;
}



#informacao_04{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#informacao_04_texto{
    color: white;
    font-size: 15px;
}

#informacao_04 img{
    width: 150px;
    height: 150px;
}



#mirianMendonca{
    width: 100%;
    height: 600px;
    background-color: var(--Preto_90porcento);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#imagemMirian{
    background-image: url(imagem/autora.png);
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 175px 175px;
    /* border: 1px solid red; */
}

#textosMirian{
    color: white;
    font-size: 20px;
}

#fimPagina{
    width: 100%;
    height: 600px;
    background-color: var(--Preto_100porcento);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

#texto_fimPagina{
    color: white;
    /* border: 1px solid red; */
}

#botao_fimPagina{
    width: 290px;
    height: 70px;
    background-color: var(--Amarelo_ouro);
    margin-top: 120px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

#botao_fimPagina:hover{
    background-color: var(--Preto_90porcento);
    color: var(--Amarelo_ouro);
    transition: 0.2s;
}

#imagem_fimPagina{
    width: 600px;
    height: 600px;
    background-image: url(imagem/smartphone.png);
    background-size: cover;
    /* border: 1px solid red; */
    
}


footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--Preto_100porcento);
    color: white
    ;
}


/* CONFIGURAÇÃO PARA CELULAR */

#imagemFundo_mobile{
    display: none;
    background-image: url(imagem/header.png);
    width: 100%;
    height: 350px;
}

#textoMobile{
    font-size: 9px;
    color: white;
    margin-left: 40px;
    padding-top: 35px;
    display: none;
}

#caixaCadastro{
    
    display: none;
}

#imagem_fimPagina_mobile{
    width: 200px;
    height: 200px;
    background-image: url(imagem/smartphone.png);
    background-size: cover;
    display: none;
}

#texto_fimPagina_mobile{
    font-size: 7px;
    color: white;
    display: none;
}

/*  */

@media screen and (max-width: 480px) {

    
}


/* CONIGRAÇÃO PARA TABLET */

#elementosFimpagina_tablet_mobile{
    display: none;
    flex-direction: column  ;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

#imagemSmartphone_tablet_celular{
    display: none;
    width: 400px;
    height: 300px;
    background-image: url(imagem/smartphone.png);
    background-size: cover;
}

#textoSmartphone_tablet_celular{
    display: none;
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
}

#botaoSmartphone_tablet_celular{
    display: none;
    width: 350px;
    height: 50px;
    background-color: var(--Amarelo_ouro);
    color: black;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    *{
        margin: 0;
    }

    
    #imagemFundo{
        width: 100%;
        height: 350px;
    }

    #textosIMG{
        font-size: 8px;
        margin-left: 70px;
        padding-top: 20px;
    }

    #textosIMG > p{
        font-size: 14px;
    }

    #pequenaTag{
        margin-left: 70px;
        margin-top: 25px;
        font-size: 12px;
    }

    #fakePlaceholder{
        width: 230px;
        height: 30px;
        margin-left: 70px;
        margin-top: 15px;
        font-size: 14px;
    }

    /* !!!! */
    #botaoAnimado{
        width: 230px;
        height: 40px;
        margin-left: 70px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        margin-bottom: 10%;
    }
    /*  */

    .medidas_impar{
        width: 100%;
        height: 200px;
        border-top: none;
    }

    .medidas_par{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: none;

    }

    #informacao_01{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #informacao_01_texto{
        font-size: 12px;
    }

    #informacao_01 img{
        width: 120px;
        height: 120px;
    }

    #informacao_02{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #informacao_02_texto{
        font-size: 12px;
    }

    #informacao_02 img{
        width: 120px;
        height: 120px;
    }

    #informacao_03{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #informacao_03_texto{
        font-size: 12px;
    }

    #informacao_03 img{
        width: 120px;
        height: 120px;
    }

    #informacao_04{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #informacao_04_texto{
        font-size: 12px;
    }

    #informacao_04 img{
        width: 120px;
        height: 120px;
    }

    #mirianMendonca{
        height: 600px;
        flex-direction: column;

    }

    #imagemMirian{
        width: 250px;
        height: 250px;
    }

    #textosMirian{
        font-size: 15px;
    }


    #fimPagina{
        display: none;
    }

    #elementosFimpagina_tablet_mobile{
        display: flex;
        background-color: var(--Preto_100porcento);
    }
    #imagemSmartphone_tablet_celular{
        display: flex;
        
    }

    #textoSmartphone_tablet_celular{
        display: flex;
        text-align: center;
    }

    #botaoSmartphone_tablet_celular{
        display: flex;
    }

    footer{
        height: 30px;
        width: 100%;
    }
}